# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
bld/

# .NET
*.user
*.suo
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets
*.dll
*.exe
*.pdb

# Visual Studio / Rider / VS Code
.vs/
.idea/
*.csproj.user
*.DotSettings.user

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
build-release.ps1
